#backGround{
    -fx-background-color: #3C40C6;
}
#PLAY{
    -fx-background-color: #34E7E4;
}
#ABOUT{
    -fx-background-color: #32FF7E;
}
#LEADERBOARD{
    -fx-background-color: #34E7E4;
}
#PROFILE{
    -fx-background-color: #32FF7E;
}
#addProfile{
    -fx-background-color: #99F2C8;
}
#addprofileText{
    -fx-background-color: #34E7E4;
}
#OrangeHeader{
    -fx-background-color: #FFA801;
}
#Leaderboard-border{
    -fx-border-color: black;
    -fx-border-width: 2px;
}